<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="Battery">
    <param name="ios-package" value="CDVBattery"/>
  </feature>

  <feature name="BLE">
    <param name="ios-package" value="BLECentralPlugin" onload="$IOS_INIT_ON_LOAD"/>
  </feature>

  <feature name="BluetoothSerial">
    <param name="ios-package" value="MEGBluetoothSerial" onload="true"/>
  </feature>

  <feature name="BluetoothLePlugin">
    <param name="ios-package" value="BluetoothLePlugin"/>
  </feature>

  <feature name="FilePicker">
    <param name="ios-package" value="FilePicker"/>
  </feature>

  <feature name="NativeAudio">
    <param name="ios-package" value="NativeAudio"/>
  </feature>

  <feature name="SQLitePlugin">
    <param name="ios-package" value="SQLitePlugin"/>
  </feature>

  
</widget>